* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.fondo {
    width: 100vw;
    height: 100vh;
    background-color: cornsilk;
    font-size: 1.2rem;
    font-family: monospace;
}



.container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box {
    display: block;
    width: 30rem;
    height: 35rem;
    border: 0.1rem black solid;
    border-radius: 1rem;
    padding: 0.5rem;
}
    

#one {
    width: 50rem;
    height: 35rem;
    position: absolute;
    padding: 5rem;
    background-color:mintcream;
    border: 0.1rem black solid;
    border-radius: 1.5rem;
    margin-top: 30px;
    text-align:justify;
}

#two {
    width: 20rem;
    height: 2rem;
    position: absolute;
    padding: 2rem;
    margin-top: 1rem;
    background-color: lightcoral;
    border: 0.1rem black solid;
    border-radius: 1.5rem;
    text-align: center;
}

    