* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    color: white;
}

.encabezado {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.item {
    color: white;
    text-decoration: none;
}

p {
    font-family: monospace;
    font-size: 12px;
    color: green;
}