@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Carme', sans-serif;
    background-color: #FFEFCF;
  }
  
#select-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.title {
    color: #07031A;
    font-size: 50px;
    margin-top: 50px;
    font-family: 'Carme', sans-serif; 
}
  
.subtitle {
    color: #07031A;
    font-size: 26px;
    margin-top: 55px;
}
  
.cards-avatars, .cards-attacks {
    display: flex; 
    gap: 10px; 
    margin: 20px;
    flex-direction: row;
}
  
.cards-avatars {
    width: 260px;
    height: 190px;
    background: #FF7A00;
    padding: 10px;
    margin: 10px;
    border: transparent;
    border-radius: 20px;
    color: #FFEFCF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }
  
.cards-avatars img {
    width: 150px;
  }

.cards-avatars:hover {
    border: 4px solid #864000;
} 

#start-button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #ffe5b2;
    font-family: 'Carme', sans-serif;
    margin-top: 35px;
    font-size: medium;
}

#start-button:hover{
    background-color: #D44000;
    color: #FFEFCF;
}

#button-reset:hover {
    background-color: #6E3B3B;
    color: #FFEFCF;
}
  
input {
    display: none;
}
  
input:checked + label {
    background-color: #D44000;
    border: 10px double #864000;
}
  
#selector-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.button-attack {
    background-color: #cc7222;
    border-radius: 30px;
    padding: 15px;
    margin-top: 20px;
    box-sizing: border-box;
    border-color: transparent;
    width: 80px;
    color: #FFEFCF;
    font-size: medium;
    display: flex;
    justify-content: center;
  }

  .button-attack:hover{
    background-color: #bb7a40e8;
}
  
  #messages {
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: medium;
    flex-direction: column;
  }

  #result{
      font-size: x-large;
  }

  #reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  #restart-button {
    background: lightgray;
    padding: 5px;
    width: 70px;
    height: 30px;
    padding: 4px;
    margin-top: 30px;
    font-family: 'Carme', sans-serif;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .attacks {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    font-size: medium;
  }
  
  #lives-player, #lives-enemy {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
#avatar-player, #avatar-enemy {
    font-size: x-large;
}

  .history-player, .history-enemy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.cards-avatars-window{
    display: flex;
    flex-direction: row;
}


  @media (max-width: 414px) {
    .cards-avatars, .cards-attacks, .cards-avatars-window{
      flex-direction: column;
    }
  }