
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

section {
    text-align: justify;
}

li {
    list-style: none;
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

.TituloP {
    color: rgb(79, 87, 197);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin: 0.5em;
    text-align: left;
}

img {
    border-radius: 25px;
    height: 120px;
    margin-top: -0.3cm;
    margin-left: -1cm;
    padding: 1cm 1cm 1cm -5cm;
    width: 100px;
}
